<a href="https://colab.research.google.com/github/GaGyeong-Kim/GaGyeong-Kim/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# mount Drive to access data files

from google.colab import drive
drive.mount('./mount')

Mounted at ./mount

In [ ]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 51 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 61.6 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=d352948c1211e471a194667718f3a390793456af0f028047ec256e5d7a4b4c64
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [ ]:
from pyspark import SparkConf, SparkContext

# SparkContext 초기화
conf = SparkConf().setMaster("local").setAppName("transformations_actions")
# 객체 생성
sc = SparkContext(conf = conf)

In [ ]:
# RDD 생성
foods = sc.parallelize(["짜장면","마라탕","짬뽕","떡볶이","쌀국수","짬뽕","짜장면","짜장면","짜장면","라면","우동","라면"])

In [ ]:
foods.collect()

['짜장면', '마라탕', '짬뽕', '떡볶이', '쌀국수', '짬뽕', '짜장면', '짜장면', '짜장면', '라면', '우동', '라면']

In [ ]:
foods.countByValue()

defaultdict(int,
            {'짜장면': 4,
             '마라탕': 1,
             '짬뽕': 2,
             '떡볶이': 1,
             '쌀국수': 1,
             '라면': 2,
             '우동': 1})

In [ ]:
foods.take(3)
foods.take(5)

['짜장면', '마라탕', '짬뽕', '떡볶이', '쌀국수']

In [ ]:
foods.first()

'짜장면'

In [ ]:
foods.count()

12

In [ ]:
foods.distinct().count()

7

In [ ]:
# Native Data 타입=>Actions의 결과, int
print(type(foods.count()))
print(type(foods.distinct().count()))

# RDD타입 => Transformations의 결과
print(type(foods.distinct()))

<class 'int'>
<class 'int'>
<class 'pyspark.rdd.PipelinedRDD'>

In [ ]:
# 값 리턴을 하지 않음
# Worker node에서 실행됨
# 현재 SparkContext가 있는 Driver Program에 있기 때문에 실행 안됨
foods.foreach(lambda x:print(x))

In [ ]:
# movie RDD 생성
movies =[
	"그린 북",
	"매트릭스",
	"토이 스토리",
	"캐스트 어웨이",
	"포드 V 페라리",
	"보헤미안 랩소디",
	"빽 투 더 퓨처",
	"반지의 제왕",
	"죽은 시인의 사회"
]

moviesRDD = sc.parallelize(movies)

In [ ]:
flatMovies = moviesRDD.flatMap(lambda x : x.split(" "))
flatMovies.collect()

['그린',
 '북',
 '매트릭스',
 '토이',
 '스토리',
 '캐스트',
 '어웨이',
 '포드',
 'V',
 '페라리',
 '보헤미안',
 '랩소디',
 '빽',
 '투',
 '더',
 '퓨처',
 '반지의',
 '제왕',
 '죽은',
 '시인의',
 '사회']

In [ ]:
filteredMovies = moviesRDD.filter(lambda x : x!="매트릭스")
filteredMovies.collect()

['그린 북',
 '토이 스토리',
 '캐스트 어웨이',
 '포드 V 페라리',
 '보헤미안 랩소디',
 '빽 투 더 퓨처',
 '반지의 제왕',
 '죽은 시인의 사회']

In [ ]:
# RDD 생성
num1 = sc.parallelize([1,2,3,4,5])
num2 = sc.parallelize([4,5,6,7,8,9,10])

In [ ]:
num1.union(num2).collect()

[1, 2, 3, 4, 5, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
num1.subtract(num2).collect()

[2, 1, 3]

In [ ]:
numUnion = num1.union(num2)
numUnion.sample(True, .5, seed=2).collect()

[1, 1, 2, 4, 5, 5, 4, 5, 6, 7, 9]

In [ ]:
# RDD 생성
rdd1 = sc.parallelize(['안녕 보아즈', 'BOAZ', '스파크', '엔지니어링 화이팅'])

print(rdd1.map(lambda x:x.split(' ')).collect())

# 1차원 반환
print(rdd1.flatMap(lambda x:x.split(' ')).collect())

[['안녕', '보아즈'], ['BOAZ'], ['스파크'], ['엔지니어링', '화이팅']]
['안녕', '보아즈', 'BOAZ', '스파크', '엔지니어링', '화이팅']

In [ ]:
foodsGroup = foods.groupBy(lambda x : x[0])
res = foodsGroup.collect()

In [ ]:
for (k,v) in res:
  print(k, list(v))

짜 ['짜장면', '짜장면', '짜장면', '짜장면']
마 ['마라탕']
짬 ['짬뽕', '짬뽕']
떡 ['떡볶이']
쌀 ['쌀국수']
라 ['라면', '라면']
우 ['우동']

In [ ]:
num1.intersection(num2).collect()

[4, 5]

In [ ]:
from operator import add

print(sc.parallelize([1,2,3,4,5]).reduce(add))


# 파티션에 따라 결과값이 달라지기도 함

# 파티션 1개
print(sc.parallelize([1,2,3,4],1).reduce(lambda x,y : (x*2)+y))
# 파티션 2개
print(sc.parallelize([1,2,3,4],2).reduce(lambda x,y : (x*2)+y))

15
26
18

In [ ]:
# 파티션이 4개인 RDD -> 값이 3가지라 하나의 빈 파티션이 발생
rdd = sc.parallelize([2,3,4],4)

# 24 = 2*3*4
print(rdd.reduce(lambda x,y : x*y))

# zeroValue값이 0
# 0 = 0*2*3*4
print(rdd.fold(0, lambda x,y : x*y))

# 24 = 1*2*3*4
print(rdd.fold(1, lambda x,y:x*y))

24
0
24

In [ ]:
rdd = sc.parallelize([1,1,2,3,5,8])
result = rdd.groupBy(lambda x : x%2).collect()

# 결과
sorted([(x, sorted(y)) for (x,y) in result])

[(0, [2, 8]), (1, [1, 1, 3, 5])]

In [ ]:
seqOp = (lambda x,y:(x[0] + y, x[1] + 1))
combOp = (lambda x,y:(x[0] + y[0], x[1] + y[1]))
sc.parallelize([1,2,3,4]).aggregate((0,0), seqOp, combOp)

(10, 4)

In [ ]:
x = sc.parallelize([("MATH",7),("MATH",),("ENGLISH",7),("SCIENCE",7),("ENGLISH",4),("ENGLISH",9),
("MATH",8),("MATH",3),("ENGLISH",4),("SCIENCE",6),("SCIENCE",9),("SCIENCE",5)], 3)

y = x.groupByKey()

print(y.getNumPartitions())

3

In [ ]:
y = x.groupByKey(2)
print(y.getNumPartitions())

2

In [ ]:
from operator import add, mul


rdd = sc.parallelize([("BOAZ",2),("ENGINEERING",3),("BOAZ",5)])
print(sorted(rdd.reduceByKey(add).collect()))
print(sorted(rdd.reduceByKey(mul).collect()))

[('BOAZ', 7), ('ENGINEERING', 3)]
[('BOAZ', 10), ('ENGINEERING', 3)]

In [ ]:
x = sc.parallelize([("a", ["HELLO","BOAZ","WELCOME"]), ("b", ["ENGINEERING"])])

def f(x) : return len(x)

# 리스트의 길이 리턴
x.mapValues(f).collect()

[('a', 3), ('b', 1)]

In [ ]:
x = sc.parallelize([("MEOW", 1), ("BOWWOW", 1), ("MEOW",1)])
sorted(x.countByKey().items())

[('BOWWOW', 1), ('MEOW', 2)]

In [ ]:
# 예제 1
m = sc.parallelize([(1,2),(3,4)]).keys()
m.collect()

[1, 3]

In [ ]:
# 예제 2
x = sc.parallelize([("MATH",7),("MATH",2),("ENGLISH",7),("SCIENCE",7),("ENGLISH",4),("ENGLISH",9),("MATH",8),("MATH",3),("ENGLISH",4),("SCIENCE",6),("SCIENCE",9),("SCIENCE",5)], 3)
x.keys().distinct().count()

3

In [ ]:
rdd1 = sc.parallelize([("fish",1), ("kitten", 2), ("puppy", 3)])
rdd2 = sc.parallelize([("fish",4), ("kitten", 5), ("kitten", 6), ("pet", 1)])

print(rdd1.join(rdd2).collect())
print(rdd1.leftOuterJoin(rdd2).collect())
print(rdd1.rightOuterJoin(rdd2).collect())

[('fish', (1, 4)), ('kitten', (2, 5)), ('kitten', (2, 6))]
[('fish', (1, 4)), ('puppy', (3, None)), ('kitten', (2, 5)), ('kitten', (2, 6))]
[('fish', (1, 4)), ('kitten', (2, 5)), ('kitten', (2, 6)), ('pet', (None, 1))]

In [ ]:
# 사용 후 종료!

sc.stop()

In [ ]:
# mount Drive to access data files

from google.colab import drive
drive.mount('./mount')

Drive already mounted at ./mount; to attempt to forcibly remount, call drive.mount("./mount", force_remount=True).

In [ ]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.5)

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local").appName("learn-sql").getOrCreate()

In [ ]:
stocks = [
	('Google', 'GOOGL', 'USA', 2984, 'USD'),
	('Netflix', 'NFLX', 'USA', 645, 'USD'),
	('Amazon', 'AMZN', 'USA', 3518, 'USD'),
	('Tesla', 'TSLA', 'USA', 1222, 'USD'),
	('Tencent', '0700', 'Hong Kong', 483, 'HKD'),
	('Toyota', '7203', 'Japan', 2006, 'JPY'),
	('Samsung', '005930', 'Korea', 70600, 'KRW'),
	('Kakao', '035720', 'Korea', 125000, 'KRW')
]

In [ ]:
stockSchema = ["name","ticker","country","price","currency"]

In [ ]:
df = spark.createDataFrame(data = stocks, schema = stockSchema)

# 데이터 타입 확인
df.dtypes

[('name', 'string'),
 ('ticker', 'string'),
 ('country', 'string'),
 ('price', 'bigint'),
 ('currency', 'string')]

In [ ]:
df.show()

+-------+------+---------+------+--------+
|   name|ticker|  country| price|currency|
+-------+------+---------+------+--------+
| Google| GOOGL|      USA|  2984|     USD|
|Netflix|  NFLX|      USA|   645|     USD|
| Amazon|  AMZN|      USA|  3518|     USD|
|  Tesla|  TSLA|      USA|  1222|     USD|
|Tencent|  0700|Hong Kong|   483|     HKD|
| Toyota|  7203|    Japan|  2006|     JPY|
|Samsung|005930|    Korea| 70600|     KRW|
|  Kakao|035720|    Korea|125000|     KRW|
+-------+------+---------+------+--------+

In [ ]:
df.createOrReplaceTempView("stocks")

In [ ]:
spark.sql("select name from stocks").show()

+-------+
|   name|
+-------+
| Google|
|Netflix|
| Amazon|
|  Tesla|
|Tencent|
| Toyota|
|Samsung|
|  Kakao|
+-------+

In [ ]:
spark.sql("select name, price from stocks").show()

+-------+------+
|   name| price|
+-------+------+
| Google|  2984|
|Netflix|   645|
| Amazon|  3518|
|  Tesla|  1222|
|Tencent|   483|
| Toyota|  2006|
|Samsung| 70600|
|  Kakao|125000|
+-------+------+

In [ ]:
# country가 Korea인 name, price 컬럼 가져오기

spark.sql("select name, price from stocks where country = 'Korea'").show()

+-------+------+
|   name| price|
+-------+------+
|Samsung| 70600|
|  Kakao|125000|
+-------+------+

In [ ]:
# price>2000이면서 country가 USA인 name, price 컬럼 가져오기

spark.sql("select name,price from stocks where price>2000 and country = 'USA'").show()

+------+-----+
|  name|price|
+------+-----+
|Google| 2984|
|Amazon| 3518|
+------+-----+

In [ ]:
# U로 시작하는 나라의 name,price 컬럼 가져오기

spark.sql("select name, price from stocks where country like 'U%'").show()

+-------+-----+
|   name|price|
+-------+-----+
| Google| 2984|
|Netflix|  645|
| Amazon| 3518|
|  Tesla| 1222|
+-------+-----+

In [ ]:
# U로 시작하는 나라, 회사 이름에서 e가 없는 곳의 name, price 컬럼 가져오기

spark.sql("select name, price from stocks where country like 'U%' and name not like '%e%'").show()

+------+-----+
|  name|price|
+------+-----+
|Amazon| 3518|
+------+-----+

In [ ]:
# 1000<price<10000 인 name, price 컬럼 가져오기

spark.sql("select name, price from stocks where price between 1000 and 10000").show()

+------+-----+
|  name|price|
+------+-----+
|Google| 2984|
|Amazon| 3518|
| Tesla| 1222|
|Toyota| 2006|
+------+-----+

In [ ]:
# Tesla보다 비싸며 currency가 USD인 name,price,currency 컬럼 가져오기

spark.sql("select name, price, currency from stocks \
where currency = 'USD' and price > (select price from stocks where name = 'Tesla')").show()

+------+-----+--------+
|  name|price|currency|
+------+-----+--------+
|Google| 2984|     USD|
|Amazon| 3518|     USD|
+------+-----+--------+

In [ ]:
#오름차순

spark.sql("select name, price from stocks order by price asc").show()

+-------+------+
|   name| price|
+-------+------+
|Tencent|   483|
|Netflix|   645|
|  Tesla|  1222|
| Toyota|  2006|
| Google|  2984|
| Amazon|  3518|
|Samsung| 70600|
|  Kakao|125000|
+-------+------+

In [ ]:
#내림차순

spark.sql("select name, price from stocks order by price desc").show()

+-------+------+
|   name| price|
+-------+------+
|  Kakao|125000|
|Samsung| 70600|
| Amazon|  3518|
| Google|  2984|
| Toyota|  2006|
|  Tesla|  1222|
|Netflix|   645|
|Tencent|   483|
+-------+------+

In [ ]:
#회사 길이의 순서대로

spark.sql("select name, price from stocks order by length(name)").show()

+-------+------+
|   name| price|
+-------+------+
|  Tesla|  1222|
|  Kakao|125000|
| Amazon|  3518|
| Toyota|  2006|
| Google|  2984|
|Netflix|   645|
|Samsung| 70600|
|Tencent|   483|
+-------+------+

In [ ]:
#합

spark.sql("select sum(price) from stocks where country = 'Korea'").show()

+----------+
|sum(price)|
+----------+
|    195600|
+----------+

In [ ]:
#평균

spark.sql("select mean(price) from stocks where country = 'Korea'").show()

+-----------+
|mean(price)|
+-----------+
|    97800.0|
+-----------+

In [ ]:
#'Korea' 값이 몇개인지

spark.sql("select count(price) from stocks where country = 'Korea'").show()

+------------+
|count(price)|
+------------+
|           2|
+------------+

In [ ]:
#USA, Korea 가 몇개인지

spark.sql("select count(price) from stocks where country in ('Korea', 'USA')").show()

+------------+
|count(price)|
+------------+
|           6|
+------------+

In [ ]:
# 새로운 데이터 가져오기
earnings = [
('Google', 27.99, 'USD'),
('Netflix', 2.56, 'USD'),
('Amazon', 6.12, 'USD'),
('Tesla', 1.86, 'USD'),
('Tencent', 11.01, 'HKD'),
('Toyota', 224.82, 'JPY'),
('Samsung', 1780., 'KRW'),
('Kakao', 705., 'KRW')
]

#직접 스키마의 타입 정하기
from pyspark.sql.types import StringType, FloatType, StructType, StructField

earningsSchema = StructType([
	StructField("name", StringType(), True),
	StructField("eps", FloatType(), True),
	StructField("currency", StringType(), True)
])


earningsDF = spark.createDataFrame(data = earnings, schema = earningsSchema)

In [ ]:
#데이터프레임 스키마 타입 확인하기

earningsDF.dtypes

[('name', 'string'), ('eps', 'float'), ('currency', 'string')]

In [ ]:
earningsDF.createOrReplaceTempView("earnings")

In [ ]:
#데이터프레임 데이터 보기

earningsDF.select("*").show()

+-------+------+--------+
|   name|   eps|currency|
+-------+------+--------+
| Google| 27.99|     USD|
|Netflix|  2.56|     USD|
| Amazon|  6.12|     USD|
|  Tesla|  1.86|     USD|
|Tencent| 11.01|     HKD|
| Toyota|224.82|     JPY|
|Samsung|1780.0|     KRW|
|  Kakao| 705.0|     KRW|
+-------+------+--------+

In [ ]:
# join의 기준 : stocks.name = earnings.name

spark.sql("select * from stocks join earnings on stocks.name = earnings.name").show()

+-------+------+---------+------+--------+-------+------+--------+
|   name|ticker|  country| price|currency|   name|   eps|currency|
+-------+------+---------+------+--------+-------+------+--------+
| Amazon|  AMZN|      USA|  3518|     USD| Amazon|  6.12|     USD|
| Google| GOOGL|      USA|  2984|     USD| Google| 27.99|     USD|
|  Kakao|035720|    Korea|125000|     KRW|  Kakao| 705.0|     KRW|
|Netflix|  NFLX|      USA|   645|     USD|Netflix|  2.56|     USD|
|Samsung|005930|    Korea| 70600|     KRW|Samsung|1780.0|     KRW|
|Tencent|  0700|Hong Kong|   483|     HKD|Tencent| 11.01|     HKD|
|  Tesla|  TSLA|      USA|  1222|     USD|  Tesla|  1.86|     USD|
| Toyota|  7203|    Japan|  2006|     JPY| Toyota|224.82|     JPY|
+-------+------+---------+------+--------+-------+------+--------+

In [ ]:
#PER(Price-earnings ratio) : Price / EPS

spark.sql("select stocks.name, (stocks.price/earnings.eps) from stocks join earnings on stocks.name = earnings.name").show()

+-------+------------------+
|   name|     (price / eps)|
+-------+------------------+
| Amazon| 574.8366120563447|
| Google| 106.6095042658442|
|  Kakao| 177.3049645390071|
|Netflix| 251.9531306315913|
|Samsung|39.662921348314605|
|Tencent| 43.86920889728746|
|  Tesla|  656.989242258975|
| Toyota| 8.922693419839167|
+-------+------------------+

In [ ]:
# 사용 후 종료!

spark.stop()